*{
    margin: 0;padding: 0;

    box-sizing: border-box
    
    ;
}
.figure_img {
    height: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    transition: transform 0.3s;
  }
  .figure_img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  